body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
    color: #FFFFFF;
}

header {
    background-color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-item a.active {
    border-bottom: 2px solid #333;
}

.login-button {
    background-color: #B40000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact-us {
    padding: 50px 20px;
    text-align: center;
    position: relative; /* Ensure the form-message can be positioned relative to this container */
}

.contact-us h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-us p {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.6;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #333;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure the form-message can be positioned relative to this form */
    z-index: 1; /* Ensure the form is underneath the message */
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #555;
    color: #fff;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #bbb;
}

.submit-button {
    background-color: #B40000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #a00000;
}

.form-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    display: none; /* Initially hidden */
    z-index: 2; /* Ensure the message is above everything else */
}



footer {
    background-color: #B40000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

.footer-logo {
    height: 50px;
}
